@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #000000;
    --cor1: gray;
    --cor2: white;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', 'cursive';
    --fonte-android:'Android', 'cursive';
}

body {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

div.logo {
    height: 200px;
    background-color: var(--cor0);
}

nav#menu {
    background-color: var(--cor1);
    
}

nav#menu > ul {
    list-style-type: none;
    display: flex;
    
}

nav#menu li {
    padding: 10px;
}

nav#menu a {
    text-decoration: none;
    color: var(--cor2);
}

div#box-imoveis {
    margin: auto;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: var(--cor1);
    display: grid;
    gap: 10px 10px;
    /*grid-template-columns: repeat(2, 1fr)
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));*/
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}

div.imoveis {  
    width: 100%;
    height: min(200px);
    text-align: center;
    background-color: rgb(202, 202, 202);
    padding: 20px;
    font-size: 30px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

